<div class="results-block">
<%= render 'layouts/message' %>
</div>


<% if @friend %>
<div class="card card-header results-block">
    
    <strong>Email : </strong> <%= @friend %>
     <strong>Name : </strong> <%= @friend %>
      <strong>Price : </strong> <%= @friend %>
    
      <strong><%= link_to 'Follow friend?', '#', class:"btn btn-success", method: :post %></strong>
</div>
<% end %>

